{% extends "HomeBundle:Display:layout.html.twig" %}

{% block body %}

  <h1>{{ article.getTitle() }}</h1>
  <p>{{ article.getContent()|raw }}<p>
  <small>Publier le : {{ article.getPublishedAt()|date('Y-m-d') }}</small>

  <h4 id="nbcomments">{{ comments | length }} Commentaires</h4>
  {% for comment in comments %}
<section id="comment">
    <span id="pseudocomment">{{ comment.getName() }}
    <a id="repondre" href="#formcomment">Répondre</a></span>
    <small><i class="fa fa-calendar-o"></i>Publier le : {{ comment.getPublishedAt()|date('d-m-Y') }}</small>
    <p id="contentcomment">{{ comment.getContent()|raw }}<p>
</section>
  {% endfor %}


  {% include "HomeBundle:Display:form.html.twig" %}

{% endblock %}
