{% extends "home.html.twig" %}

{% block body %}

  <h1>{{ article.getTitle() }}</h1>
  <section class="blocarticle">{{ article.getContent()|raw }}</section>
  <small>Publier le : {{ article.getPublishedAt()|date('d/m/Y G:i') }}</small>

  <h4 id="nbcomments">{{ comments | length }} Commentaires</h4>
  {% for comment in comments %}
<section id="comment">
    <span id="pseudocomment">{{ comment.getName() }}
    <a id="repondre" href="#formcomment">Répondre</a></span>
    <small><i class="fa fa-calendar-o"></i>Publier le : {{ comment.getPublishedAt()|date('d/m/Y G:i') }}</small>
    <p id="contentcomment">{{ comment.getContent()|raw }}<p>
</section>
  {% endfor %}

  <div class="alert alert-info fade in">
    <b>Pour info:</b> Votre commentaire sera soumis à validation avant d'être publié ici
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
  {% include "HomeBundle:Display:form.html.twig" %}

{% endblock %}
