<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('assets/public/css/bootstrap.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/public/css/font-awesome.min.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/public/css/normalize.css') }}" />
		<link rel="stylesheet" href="{{ asset('assets/public/css/style.css') }}" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster+Two" />
		<link rel="stylesheet" href="{{ asset('assets/public/js/bootstrap.min.js') }}" />
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ asset('assets/admin/js/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
		<script type="text/javascript" href="{{ asset('assets/admin/js/bootstrap.min.js') }}" /></script>
		<script type="text/javascript" src="{{ asset('assets/admin/js/confirm.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/admin/js/config.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/public/js/alertinfo.js') }}"></script>

		<title>Brigitte Joseph-Jeanneney</title>
	</head>

	<body>
		<header class="container">
			<a href="{{ url('home_homepage') }}"><img src="{{ asset('assets/public/images/BJ.jpg') }}" alt="Photo de Brigitte Joseph-Jeanneney" /></a>
			<h1>Brigitte Joseph-Jeanneney</h1>
			<p id="job">Écrivaine</p>

			<nav class="row">
				<a href="{{ url('home_lifepage') }}" class="col-lg-offset-1 col-xs-12 col-lg-2">
					<i class="fa fa-university" aria-hidden="true"></i>
					Ma vie
				</a>
				<a href="{{ url('home_writingpage') }}" class="col-xs-12 col-lg-2">
					<i class="fa fa-book" aria-hidden="true"></i>
					Mes écrits
				</a>
				<a href="{{ url('home_imagespage') }}" class="col-xs-12 col-lg-2">
					<i class="fa fa-picture-o" aria-hidden="true"></i>
					En images
				</a>
				<a href="{{ url('home_newspage') }}" class="col-xs-12 col-lg-2">
					<i class="fa fa-newspaper-o" aria-hidden="true"></i>
					On en a parlé...
				</a>
				<a href="{{ url('home_eventpage') }}" class="col-xs-12 col-lg-2">
					<i class="fa fa-calendar" aria-hidden="true"></i>
					Actualités
				</a>
			</nav>
		</header>

		<main>
			{% block body %}
		    {% endblock %}
    	</main>

    	<footer>
    		<section id="info">
				<h2>Commandez mes ouvrages</h2>
				<a href="https://www.fnac.com/SearchResult/ResultList.aspx?SCat=0%211&Search=brigitte+joseph-jeanneney&sft=1&sa=0">Fnac</a>

				<a href="https://www.amazon.fr/s/ref=nb_sb_noss?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=brigitte+joseph-jeanneney">Amazon</a>

				<a href="https://www.babelio.com/livres/Joseph-Jeanneney-Nocturne-au-Louvre/939258">Babelio</a>

			</section>

			<section id="index">
				<h2>Brigitte Joseph-Jeanneney</h2>
				<a href="{{ url('home_homepage') }}">Accueil</a>
				<a href="{{ url('home_writingpage') }}">Mes écrits</a>
				<a href="{{ url('home_imagespage') }}">En images</a>
			</section>

			<section id="follow">
				<h2>Suivez-moi</h2>
				<a href="{{ url('home_lifepage') }}">Ma vie</a>
				<a href="{{ url('home_newspage') }}">On en a parlé...</a>
				<a href="{{ url('home_eventpage') }}">Actualités</a>
				<a href="mailto:brigitte.joseph.jeanneney@gmail.com">Contact</a>
			</section>

			<small id="licence">
				Brigitte Joseph-Jeanneney © 2017 | Écrivaine
			</small>
    	</footer>
	</body>
</html>
