{% extends "AdminBundle:Article:layout.html.twig" %}

{% block body %}

  <h1>{{ article.getTitle() }}</h1>
  <p>{{ article.getContent() }}<p>
  <p>Catégorie : {{ article.getCategory() }}<p>
  <small>Créer le : {{ article.getCreatedAt()|date('Y-m-d') }}</small>
  <small>Publier le : {{ article.getPublishedAt()|date('Y-m-d') }}</small>

{% endblock %}
